html,
body {
  font-family: "Verdana", "Arial", sans-serif;
  background-color: rgb(6, 30, 53);
  color: white;
  font-display: auto;
}
div {
  border: 3px outset #88c;
  background-color: #225;
  padding: 8px;
  min-height: 100px;
  width: fit-content;
  max-width: 400px;
  margin: 16px;
  display: inline-block;
  color: #eef;
}
div:hover {border: 4px outset #99e;}
hr {
  border-top: 2px dotted #225;
}
a {color:#88c}
a:active {
  background-color: lightskyblue;
  color: blue !important;
  padding-left: 6px;
  padding-right: 6px;
}
img {
  max-width: 72px !important; /* attempt to fix fallback */
}
li {
  margin: 4px; /* fix firefox 23 */
}
card {
  background-color: #337;
  padding: 4px;
  margin-right: 4px;
  display: inline-block;
}
.icon {
  border: 2px dashed #669;
}
a:hover {color:#aae;background-color:rgba(0,0,0,0.2);padding-left:3px;padding-right:3px;}
